<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>愛媛ログ | 愛媛の学生〜カフェ紹介〜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="l-header">
      <div class="l-headerContainer">
        <a href="/" class="l-headerLink">
          <h1 class="l-headerTitle">愛媛ログ<span class="l-headerTitle__sub">愛媛の学生〜カフェ紹介〜</span></h1>   
        </a>
        <nav>
          <ul class="l-headerMenu u-pc">
            <li class="l-headerMenu__list"><%= link_to "愛媛ログとは", '/instagram/about/', {class:"l-headerMenu__listLink"} %></li>
          </ul>
    <%# SP時のハンバーガーメニュー %>
          <button type="button" class="l-headerMenuSp__btn u-sp">
            <span class="l-headerMenuSp__btnLine js-headerMenuSP"></span>
          </button>
          <ul class="l-headerMenuSp u-sp">
            <li class="l-headerMenuSp__list"><%= link_to "店舗検索", root_path, {class:"l-headerMenuSp__listLink"} %></li>
            <li class="l-headerMenuSp__list"><%= link_to "愛媛ログについて", '/instagram/about/', {class:"l-headerMenuSp__listLink"} %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="l-container">
    <%= yield %>
    </div>
  </body>
</html>

<script type="text/javascript">
$(function () {
  $('.js-headerMenuSP').on('click', function () {      
    $('.l-headerMenuSp, .l-headerMenuSp__btnLine').toggleClass('-open');
  })
});
</script>