<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="l-header">
      <div class="l-headerContainer">
        <h1 class="l-headerTitle">愛媛ログ</h1>   
        <p class="l-headerTitle__sub">愛媛の学生〜カフェ紹介〜</p>
      </div>
    </header>
    <div class="l-container">
    <%= yield %>
    </div>
  </body>
</html>
