<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>愛媛ログ | 愛媛の学生〜カフェ紹介〜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>

<script type="text/javascript">
$(function () {
  $('.js-headerMenuSP').on('click', function () {      
    $('.l-headerMenuSp, .l-headerMenuSp__btnLine').toggleClass('-open');
  })
});
</script>